{%  set wpuser = salt['grains.filter_by']({
    'Debian': {
        'username': 'wptest',
        'domain': 'wptest.com',
        'sock': '/var/run/php5-fpm.sock'
    },
    'RedHat': {
        'username': 'wptest',
        'domain': 'wptest.com',
        'sock': '/var/run/php-fpm/php-fpm.sock'
    }
}) %}
